In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [ ]:
df = pd.read_csv("C:\\Users\\Nishant\\Machine Learning\\Datasets\\train_energy_data.csv")
df.head()

,Building Type,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Day of Week,Energy Consumption
0,Residential,7063,76,10,29.84,Weekday,2713.95
1,Commercial,44372,66,45,16.72,Weekday,5744.99
2,Industrial,19255,37,17,14.30,Weekend,4101.24
3,Residential,13265,14,41,32.82,Weekday,3009.14
4,Commercial,13375,26,18,11.92,Weekday,3279.17

In [ ]:
df.shape

(1000, 7)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Building Type        1000 non-null   object
 1   Square Footage       1000 non-null   int64
 2   Number of Occupants  1000 non-null   int64
 3   Appliances Used      1000 non-null   int64
 4   Average Temperature  1000 non-null   float64
 5   Day of Week          1000 non-null   object
 6   Energy Consumption   1000 non-null   float64
dtypes: float64(2), int64(3), object(2)
memory usage: 54.8+ KB

In [ ]:
df.isnull().sum()

Building Type          0
Square Footage         0
Number of Occupants    0
Appliances Used        0
Average Temperature    0
Day of Week            0
Energy Consumption     0
dtype: int64

In [ ]:
df.describe()

,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Energy Consumption
count,1000.000,1000.000000,1000.000000,1000.000000,1000.000000
mean,25462.388,48.372000,25.606000,22.611390,4166.252570
std,14294.554,29.061972,14.105166,7.139943,933.313064
min,560.000,1.000000,1.000000,10.050000,1683.950000
25%,13169.750,22.000000,13.000000,16.475000,3509.482500
50%,25477.000,47.000000,26.000000,22.815000,4175.730000
75%,37446.250,73.250000,38.000000,28.850000,4863.850000
max,49997.000,99.000000,49.000000,34.990000,6530.600000

In [ ]:
#x = df.drop("Energy Consumption",axis=1)
#x.head()

In [ ]:
#y = df[["Energy Consumption"]]
#y.head()

In [ ]:
dummies = pd.get_dummies(df["Building Type"]).astype(int)
dummies

     Commercial  Industrial  Residential
0             0           0            1
1             1           0            0
2             0           1            0
3             0           0            1
4             1           0            0
..          ...         ...          ...
995           0           0            1
996           0           1            0
997           1           0            0
998           0           0            1
999           1           0            0

[1000 rows x 3 columns]

In [ ]:
dummies2 = pd.get_dummies(df["Day of Week"]).astype(int)
dummies2

     Weekday  Weekend
0          1        0
1          1        0
2          0        1
3          1        0
4          1        0
..       ...      ...
995        0        1
996        0        1
997        1        0
998        0        1
999        0        1

[1000 rows x 2 columns]

In [ ]:
merged = pd.concat([df,dummies,dummies2],axis='columns')
merged

,Building Type,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Day of Week,Energy Consumption,Commercial,Industrial,Residential,Weekday,Weekend
0,Residential,7063,76,10,29.84,Weekday,2713.95,0,0,1,1,0
1,Commercial,44372,66,45,16.72,Weekday,5744.99,1,0,0,1,0
2,Industrial,19255,37,17,14.30,Weekend,4101.24,0,1,0,0,1
3,Residential,13265,14,41,32.82,Weekday,3009.14,0,0,1,1,0
4,Commercial,13375,26,18,11.92,Weekday,3279.17,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Residential,14419,68,44,23.95,Weekend,3661.21,0,0,1,0,1
996,Industrial,12194,7,22,14.67,Weekend,3546.34,0,1,0,0,1
997,Commercial,39562,88,20,32.18,Weekday,5147.21,1,0,0,1,0
998,Residential,8348,67,37,16.48,Weekend,3244.98,0,0,1,0,1
999,Commercial,15813,57,11,31.40,Weekend,3423.63,1,0,0,0,1

In [ ]:
final = merged.drop(['Building Type','Day of Week'],axis='columns')
final

,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Energy Consumption,Commercial,Industrial,Residential,Weekday,Weekend
0,7063,76,10,29.84,2713.95,0,0,1,1,0
1,44372,66,45,16.72,5744.99,1,0,0,1,0
2,19255,37,17,14.30,4101.24,0,1,0,0,1
3,13265,14,41,32.82,3009.14,0,0,1,1,0
4,13375,26,18,11.92,3279.17,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
995,14419,68,44,23.95,3661.21,0,0,1,0,1
996,12194,7,22,14.67,3546.34,0,1,0,0,1
997,39562,88,20,32.18,5147.21,1,0,0,1,0
998,8348,67,37,16.48,3244.98,0,0,1,0,1
999,15813,57,11,31.40,3423.63,1,0,0,0,1

In [ ]:
final = final.drop(['Residential','Weekend'],axis='columns')
final

,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Energy Consumption,Commercial,Industrial,Weekday
0,7063,76,10,29.84,2713.95,0,0,1
1,44372,66,45,16.72,5744.99,1,0,1
2,19255,37,17,14.30,4101.24,0,1,0
3,13265,14,41,32.82,3009.14,0,0,1
4,13375,26,18,11.92,3279.17,1,0,1
...,...,...,...,...,...,...,...,...
995,14419,68,44,23.95,3661.21,0,0,0
996,12194,7,22,14.67,3546.34,0,1,0
997,39562,88,20,32.18,5147.21,1,0,1
998,8348,67,37,16.48,3244.98,0,0,0
999,15813,57,11,31.40,3423.63,1,0,0

In [ ]:
X = final.drop(['Energy Consumption'],axis='columns')
X

,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Commercial,Industrial,Weekday
0,7063,76,10,29.84,0,0,1
1,44372,66,45,16.72,1,0,1
2,19255,37,17,14.30,0,1,0
3,13265,14,41,32.82,0,0,1
4,13375,26,18,11.92,1,0,1
...,...,...,...,...,...,...,...
995,14419,68,44,23.95,0,0,0
996,12194,7,22,14.67,0,1,0
997,39562,88,20,32.18,1,0,1
998,8348,67,37,16.48,0,0,0
999,15813,57,11,31.40,1,0,0

In [ ]:
Y = df[["Energy Consumption"]]
Y

     Energy Consumption
0               2713.95
1               5744.99
2               4101.24
3               3009.14
4               3279.17
..                  ...
995             3661.21
996             3546.34
997             5147.21
998             3244.98
999             3423.63

[1000 rows x 1 columns]

# Checking for train dataset

In [29]:
from sklearn.linear_model import LinearRegression

In [32]:
reg = LinearRegression().fit(X,Y)
reg

LinearRegression()

In [31]:
reg.score(X,Y)

0.9999999997858984

# Checking for test dataset

In [18]:
X_t = pd.read_csv("C:\\Users\\Nishant\\Machine Learning\\Datasets\\test_energy_data.csv")
X_t

,Building Type,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Day of Week,Energy Consumption
0,Residential,24563,15,4,28.52,Weekday,2865.57
1,Commercial,27583,56,23,23.07,Weekend,4283.80
2,Commercial,45313,4,44,33.56,Weekday,5067.83
3,Residential,41625,84,17,27.39,Weekend,4624.30
4,Residential,36720,58,47,17.08,Weekday,4820.59
...,...,...,...,...,...,...,...
95,Commercial,1161,81,11,15.45,Weekend,3010.81
96,Residential,37943,50,23,21.73,Weekend,4248.49
97,Commercial,1558,27,29,16.86,Weekend,2843.60
98,Industrial,2145,56,12,11.77,Weekend,3348.39
99,Residential,42414,72,24,29.62,Weekday,4722.59

In [19]:
dummies = pd.get_dummies(X_t["Building Type"]).astype(int)
dummies

    Commercial  Industrial  Residential
0            0           0            1
1            1           0            0
2            1           0            0
3            0           0            1
4            0           0            1
..         ...         ...          ...
95           1           0            0
96           0           0            1
97           1           0            0
98           0           1            0
99           0           0            1

[100 rows x 3 columns]

In [20]:
dummies2 = pd.get_dummies(X_t["Day of Week"]).astype(int)
dummies2

    Weekday  Weekend
0         1        0
1         0        1
2         1        0
3         0        1
4         1        0
..      ...      ...
95        0        1
96        0        1
97        0        1
98        0        1
99        1        0

[100 rows x 2 columns]

In [21]:
X_t1 = pd.concat([X_t,dummies,dummies2],axis='columns')
X_t1

,Building Type,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Day of Week,Energy Consumption,Commercial,Industrial,Residential,Weekday,Weekend
0,Residential,24563,15,4,28.52,Weekday,2865.57,0,0,1,1,0
1,Commercial,27583,56,23,23.07,Weekend,4283.80,1,0,0,0,1
2,Commercial,45313,4,44,33.56,Weekday,5067.83,1,0,0,1,0
3,Residential,41625,84,17,27.39,Weekend,4624.30,0,0,1,0,1
4,Residential,36720,58,47,17.08,Weekday,4820.59,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Commercial,1161,81,11,15.45,Weekend,3010.81,1,0,0,0,1
96,Residential,37943,50,23,21.73,Weekend,4248.49,0,0,1,0,1
97,Commercial,1558,27,29,16.86,Weekend,2843.60,1,0,0,0,1
98,Industrial,2145,56,12,11.77,Weekend,3348.39,0,1,0,0,1
99,Residential,42414,72,24,29.62,Weekday,4722.59,0,0,1,1,0

In [22]:
X_t2 = X_t1.drop(['Building Type','Day of Week'],axis='columns')
X_t3 = X_t2.drop(['Residential','Weekend'],axis='columns')
X_t3

,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Energy Consumption,Commercial,Industrial,Weekday
0,24563,15,4,28.52,2865.57,0,0,1
1,27583,56,23,23.07,4283.80,1,0,0
2,45313,4,44,33.56,5067.83,1,0,1
3,41625,84,17,27.39,4624.30,0,0,0
4,36720,58,47,17.08,4820.59,0,0,1
...,...,...,...,...,...,...,...,...
95,1161,81,11,15.45,3010.81,1,0,0
96,37943,50,23,21.73,4248.49,0,0,0
97,1558,27,29,16.86,2843.60,1,0,0
98,2145,56,12,11.77,3348.39,0,1,0
99,42414,72,24,29.62,4722.59,0,0,1

In [23]:
X_test = X_t3.drop(["Energy Consumption"],axis='columns')
X_test

,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Commercial,Industrial,Weekday
0,24563,15,4,28.52,0,0,1
1,27583,56,23,23.07,1,0,0
2,45313,4,44,33.56,1,0,1
3,41625,84,17,27.39,0,0,0
4,36720,58,47,17.08,0,0,1
...,...,...,...,...,...,...,...
95,1161,81,11,15.45,1,0,0
96,37943,50,23,21.73,0,0,0
97,1558,27,29,16.86,1,0,0
98,2145,56,12,11.77,0,1,0
99,42414,72,24,29.62,0,0,1

In [24]:
Y_test = X_t3[['Energy Consumption']]
Y_test

    Energy Consumption
0              2865.57
1              4283.80
2              5067.83
3              4624.30
4              4820.59
..                 ...
95             3010.81
96             4248.49
97             2843.60
98             3348.39
99             4722.59

[100 rows x 1 columns]

In [25]:
reg.score(X_test, Y_test) # This is the accuracy for unseen test dataset

0.9999999997063025

In [26]:
features = ['Square Footage', 'Number of Occupants', 'Appliances Used', 'Average Temperature', 'Commercial', 'Industrial', 'Weekday']
reg.predict(pd.DataFrame([[7063,76,10,29.84,0,0,1]], columns=features))

array([[2713.94989618]])